<?xml version="1.0" encoding="UTF-8"?>

{% load aacoretags %}

<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:aa="http://activearchives.org/terms/"
    version="XHTML+RDFa 1.1"
    >
    <head>
        <title>Virtual Library</title>
    </head>
    <body>
        <p about="{{ url }}">
        {% for key,value in metadata.items %}
            {% if value %}
            <span property="aa:{{ key|dashify }}">{{ value }}</span>
            {% endif %}
        {% endfor %}
        </p>
    </body>
</html>
