<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:aa="http://activearchives.org/terms/"
    version="XHTML+RDFa 1.1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.w3.org/1999/xhtml
                        http://www.w3.org/MarkUp/SCHEMA/xhtml-rdfa-2.xsd"
    lang="en"
    xml:lang="en">
  <head>
    <title>Virtual Library</title>
  </head>
  <body>
        <p about="{{ url }}">
        <span property="aa:duration">{{ format.duration }}</span>
        <span property="aa:bit_rate">{{ format.bit_rate }}</span>
        </p>
  </body>
</html>
